.currentShotArrow {
  width: 25%;
  float: left;
  font-size: var(--fontSizeInfoCurrentShotArrow);
  margin-top: var(--currentShotArrowMargin);
  margin-left: var(--currentShotArrowMargin);
}
.currentShowInfo {
  float: left;
  width: 50%;
  white-space: nowrap;
}


h1 {
  font-weight: 500;
  font-size: var(--fontSizeInfoCurrentShot);
  width: 100%;
}

h2 {
  font-weight: 200;
  font-size: var(--fontSizeInfoCurrentShotTeiler);
  width: 100%;
  color: rgb(128, 128, 128);
}
