.currentShotArrow {
  width: 25%;
  float: left;
  font-size: 8vmin;
  margin-top: 1vmin;
  margin-left: 1vmin;
  // position: absolute;
}
.currentShowInfo {
  float: left;
  width: 50%;
  white-space: nowrap;
}


h1 {
  font-weight: 500;
  font-size: 6vmin;
  width: 100%;
  // margin-left: -8vmin;
}

h2 {
  font-weight: 200;
  font-size: 3vmin;
  width: 100%;
  color: rgb(128, 128, 128);
  // margin-left: -8vmin;
}
