@import "../dsc.scss";

:root {

}




.dsc_detail {


  * {
	  box-sizing: border-box;
	}


  /* Safari workaround for svg height, we set in with js due to a bug in webkit */
  // Put Back in, fails to compile with
  /*
  @media screen and(-webkit-min-device-pixel-ratio:0) {
    .box > svg  {
      height: 76%;
    }
  }
  */


	h1, h2, h3, h4 {
	  text-align: center;
		padding: 0;
		margin: 0;
	}

	img {
		border-radius: 0;
		border: 0;
		background-color: var(--baseColor);
		box-shadow: none;
	}

  .navbar > .dscStatusLogo {
    flex: 0 0 100%;
    max-width: var(--navBarHeight);
    max-height: var(--navBarHeight);
  }

	.navbar > .imgError {
		@extend img;
		background-color: red;
  	mask: url(/assets/logo.png) no-repeat center / contain;
	}



	/* Is set to the navitem div if the menu is open  */
	.navitem-active {
		position: relative;
		z-index: 3;

		border: 3px var(--borderColorHover) solid !important;
	}

	/* container of a navitem with its dropup */
	.navitem-dropup {
		height: 100%;
		width: 100%;
		position: relative;
	}

  .target {
    flex: 1 1 65%;
  }
  .sessionInfoBox {
    overflow: auto;
    flex: 1 1 35%;

    .currentShot {
      width: 100%;
    }

    .currentSeries {
      flex: 1 1 60%;
    }
    .series {
      flex: 0 0 40%;
    }
  }

	.navbar > * > * {
		height: 100%;
	}

	.navbarTop {
		padding: var(--layoutGap) var(--layoutGap) 0 var(--layoutGap);
    flex: 0 0 var(--navBarHeight);
	}
	.navbarBottom {
		padding: 0 var(--layoutGap) var(--layoutGap) var(--layoutGap);
    flex: 0 0 var(--navBarHeight);
	}
	.main {
		padding: 0 var(--layoutGap) 0 var(--layoutGap);
		min-height: 0;
		height: 100%;
	}

	.mainMessage {
		padding: 0 var(--layoutGap) 0 var(--layoutGap);
		min-height: 0;
		height: 100%;
		position: absolute;
		background-color: red;
	}



	/* Applied to all div with onclick action */
	.button {
		cursor: pointer;
		border: 3px transparent solid !important;
	}
	.buttonSelected {
		position: relative;
		z-index: 3;
		border: 3px var(--borderColorSelected) solid !important;
	}
	.navbar .button:hover {
		border: 3px var(--borderColorHover) solid !important;
	}


	.navbar > * {
		min-width: 0;
		min-height: 0;
	}

	.navbar {

		/* Main Navbar text */
	  h3 {
	    font-size: var(--fontSizeNavBarMain);

			color: var(--mainTextColor);
			font-weight: 500;
			white-space: nowrap;
			padding: 0 0.5vmin 0 0.5vmin;
      flex: 0 0 auto;
	  }
		/* Navbar top and bottom label */
	  h4 {
	    font-size: var(--fontSizeNavBarDetail);
			color: var(--detailTextColor);
			font-weight: 300;
			white-space: nowrap;
      flex: 0 0 auto;
	  }

		.navitem {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
			height: 100%;
			width: 100%;
			@extend .box;
		}
	}




	.box {
		background-color: var(--boxColor);
		border: 1px var(--borderColor) solid;
		overflow: hidden;
		border-radius: var(--borderRadius);
		box-shadow: 0px 4px 8px 0 rgba(199, 199, 199, 0.2);
	}

	.contentBox {
		@extend .box;
		padding-bottom: 5px;

		h3 {
			margin: 5px;
			margin-bottom: 15px;
			font-size: var(--fontSizeInfoBoxTitle);
		}
	}




	/* Font sizes */
	.bold {
		font-weight: bold;
	}






	.dropup-content {
	 position: absolute;
	 bottom: var(--navBarHeight);
	 padding-bottom: var(--navBarDropUpPadding);
	 z-index: 2;
	}

	.dropup-content-big {
		position: absolute;
		width: 400%;
		margin-left: -100%;
	}

	.dropup-content-normal {
		width: 100%;
	}

	.dropup-content .box {
	  text-align: center;
	  background-color: #fff;
	  margin: var(--navBarDropUpBoxPadding) 0 var(--navBarDropUpBoxPadding) 0;
	  padding: var(--navBarDropUpBoxMargin) 0 var(--navBarDropUpBoxMargin) 0;
	  font-size: var(--fontSizeDropUpItem);
		border: 1px var(--borderColor) solid;
		border-radius: var(--borderRadius);
	  color: black;
	  text-decoration: none;
	  display: block;
	}

}


.grayBackground {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0%;
	top: 0%;
	background-color: rgba(160, 160, 160, 0.7);
	z-index: 1;
}


.modalBackground {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0%;
	top: 0%;
	background-color: rgba(160, 160, 160, 0.7);
	z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

	.modal {
    position: relative;
		width: 50%;

    background-color: var(--boxColor);
		border: 1px var(--borderColor) solid;
		overflow: hidden;
		border-radius: var(--borderRadius);
		box-shadow: 0px 4px 8px 0 rgba(199, 199, 199, 0.2);

    .title {
      padding: var(--partOverviewTitlePadding);
      width: 100%;
      border-bottom: 1px solid #ebebeb;

      h1 {
  			padding: var(--modalTitlePadding) 0 var(--modalTitlePadding) 0;
  			text-align: center;
        width: 100%;
  		}

      .exit {
        padding: 0;
        margin: 3px;
        right: var(--modalTitlePadding);
        top: var(--partOverviewExitTop);
        position: absolute;
      }
      text-align: center;
    }

    .body {
      padding: var(--modalBodyPadding);

      p {
        font-size: var(--modalBodyFontSize);
        text-align: center;
      }
    }
	}
}
