<div class="dsc_detail" fxLayout="column" fxLayoutAlign="space-between stretch" fxLayoutGap="var(--layoutGap)" style="height:100%; overflow:auto;">

  <div fxFlex="var(--navBarHeight)" class="navbar navbarTop" fxLayout="row" fxLayoutAlign="space-between" fxLayoutGap="var(--layoutGap)" *ngIf="session">
    <img *ngIf="dscStatus" src="/assets/logo.png" style="object-fit: contain;" fxFlex="0 0 var(--navBarHeight)"/>
    <div class="imgError" *ngIf="!dscStatus" fxFlex="0 0 var(--navBarHeight)"></div>
    <app-clock fxFlex></app-clock>
    <app-time
      fxFlex
      *ngIf="activePart.time.enabled === true"
      [session]="session"
    ></app-time>
    <app-shots
      fxFlex
      *ngIf="activePart.anzahl > 0"
      [session]="session"
    ></app-shots>
    <app-average
      fxFlex
      *ngIf="activePart.anzahl > 0"
      [session]="session"
    ></app-average>
    <app-sum
      fxFlex
      *ngIf="activePart.anzahl > 0"
      [session]="session"
    ></app-sum>
  </div>

  <div fxFlex class="main" fxLayout fxLayout.xs="column" fxLayoutAlign="space-between" fxLayoutGap="var(--layoutGap)" *ngIf="session">
    <app-target class="target" fxFlex="1 1 calc(65%)" fxFlex.xs="1 0 35%" class="box" [target]="session.disziplin.scheibe" [series]="getCurrentSeries()" [selectedShotIndex]="selectedShotIndex" [has_trial_corner]="disciplinePart.probeEcke" [width]="'100%'" [height]="'100%'"></app-target>
    <div style="overflow:auto;" fxFlex.gt-xs="1 1 auto" fxFlex.xs="1 1 auto" *ngIf="activePart.anzahl > 0">
      <div style="width: 100%;" fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="var(--layoutGap)">
        <app-current-shot
          class="box contentBox"
          *ngIf="getCurrentShot()"
          fxFlex="none"
          [shot]="getCurrentShot()"
        ></app-current-shot>
        <div fxLayout fxLayout.xs="row" fxLayoutAlign="space-around start" fxLayoutGap="var(--layoutGap)">
          <app-current-series
            class="contentBox"
            *ngIf="getCurrentSeries().anzahl > 0"
            fxFlex="60" fxFlex.xs="50"
            [series]="getCurrentSeries()" [selectedShotIndex]="selectedShotIndex"
            (onChangeSelection)="selectedShotIndex = $event"
          ></app-current-series>
          <app-series-overview
            class="contentBox"
            *ngIf="activePart.anzahl > 0"
            fxFlex="40 1 auto" fxFlex.xs="50"
            [session]="session" [selectedSeriesIndex]="selectedSeriesIndex"
            (onChangeSelection)="selectedSeriesIndex = $event"
          ></app-series-overview>            
        </div>
      </div>
    </div>
  </div>


  <div fxFlex="var(--navBarHeight)" class="navbar navbarBottom" fxLayout="row" fxLayoutAlign="space-between" fxLayoutGap="var(--layoutGap)" *ngIf="session">
    <app-user
      fxFlex
      [user]="session.user" [config]="config"
    ></app-user>
    <app-club
      fxFlex
      *ngIf="session.user.verein != ''"
      [user]="session.user"
    ></app-club>
    <app-disciplin
      fxFlex
      [enableEdit]="enableEdit"
      [disziplin]="session.disziplin" [config]="config" [(openMenu)]="hasOpenMenu"
    ></app-disciplin>
    <app-actions
      fxFlex
      *ngIf="enableEdit"
      [(openMenu)]="hasOpenMenu"
      (openScheiben)="onPartSelection(true)"
    ></app-actions>
    <app-part
      fxFlex
      [enableEdit]="enableEdit"
      [session]="session"
    ></app-part>
  </div>
  
  
  
  
  
  <div class="modalBackground" *ngIf="openModalPartSelect">
    <div class="modal">
      <div class="title">
        <h1>Scheiben</h1>
        <p class="exit" (click)="onPartSelection(false)">Schließen</p>
      </div>
      <div class="body">
        <app-part-overview
          [session]="session"
          (onSelection)="onPartSelection(false)"
        ></app-part-overview>
      </div>
    </div>  
  </div>
  
  <div class="modalBackground" (click)="message = null;" *ngIf="message">
    <div class="modal">
      <div class="title">
        <h1>{{message.title}}</h1>
        <!-- <p class="exit" (click)="closeDetail()">Schließen</p> -->
      </div>
      <div class="body">
        <p>{{message.text}}</p>
      </div>
      
    </div>  
  </div>

  

</div>

  


<div class="grayBackground" [@inOutAnimation] (click)="closeMenu()" *ngIf="hasOpenMenu.state">
  
</div>
