
:root {
  // --dscBaseScale: 1;
  --navBarHeight: calc(12vmin * var(--dscBaseScale));
  --navBarDropUpPadding: calc(1vmin * var(--dscBaseScale));
  --navBarDropUpBoxPadding: calc(1vmin * var(--dscBaseScale));
  --navBarDropUpBoxMargin: calc(1vmin * var(--dscBaseScale));
	--layoutGap: calc(1vh * var(--dscBaseScale));
	--fontSizeNavBarMain: calc(3vmin * var(--dscBaseScale));
	--fontSizeNavBarDetail: calc(2vmin * var(--dscBaseScale));
	--fontSizeInfoBoxTitle: calc(2.5vmin * var(--dscBaseScale));
  --fontSizeDropUpItem: calc(3vmin * var(--dscBaseScale));
	
	
	// Info
	--overTimeTextColor: #ff0000;
	
	//// Serie
	--fontSizeInfoSeriesSum: calc(2.2vmin * var(--dscBaseScale));
	
	//// Current Shot
	--fontSizeInfoCurrentShotArrow: calc(8vmin * var(--dscBaseScale));
	--fontSizeInfoCurrentShot: calc(6vmin * var(--dscBaseScale));
	--fontSizeInfoCurrentShotTeiler: calc(3vmin * var(--dscBaseScale));
	--currentShotArrowMargin: calc(1vmin * var(--dscBaseScale));
	
	//// Part Overview Modal
	--partOverviewTitlePadding: calc(1vmin * var(--dscBaseScale));
	--partOverviewExitRight: calc(2vmin * var(--dscBaseScale));
	--partOverviewExitTop: calc(2vmin * var(--dscBaseScale));
	--partOverviewFontSize: calc(2.2vmin * var(--dscBaseScale));
	--partOverviewCellPadding: calc(1vmin * var(--dscBaseScale));
  
	
	// Navbar
	--navBarDisziplinSelectedGroupsPadding: calc(5vmin * var(--dscBaseScale));
	
	--modalTitlePadding: calc(1vmin * var(--dscBaseScale));
  --modalExitPaddingRight: calc(2vmin * var(--dscBaseScale));
  --modalContentPadding: calc(2vmin * var(--dscBaseScale));
	
  --borderRadius: calc(2.5vmin * var(--dscBaseScale));
  --mainTextColor: rgb(0, 0, 0);
  --detailTextColor: rgb(51, 51, 51);
  
  --baseColor: #f5f5f5;
  --boxColor: #ffffff;
  --borderColor: #ebebeb;
  --borderColorHover: #000000;
  --borderColorSelected: #000000;
  
}



.dsc_detail {

	
	* {
	  box-sizing: border-box;
	}

	

	// Safari workaround for svg height, we set in with js due to a bug in webkit
	@media screen and(-webkit-min-device-pixel-ratio:0) {
		.box > svg  {
			height: 76%;
		}
	}

	h1, h2, h3, h4 {
	  text-align: center;
		padding: 0;
		margin: 0;
	}

	img {
		border-radius: 0;
		border: 0;
		background-color: var(--baseColor);
		box-shadow: none;
	}
		
	.navbar > .imgError {
		@extend img;
		background-color: red;
  	mask: url(/assets/logo.png) no-repeat center / contain;
	}
	
	

	// Is set to the navitem div if the menu is open
	.navitem-active {
		position: relative;
		z-index: 3;
		
		border: 3px var(--borderColorHover) solid !important;
	}

	// container of a navitem with its dropup
	.navitem-dropup {
		height: 100%;
		width: 100%;
		position: relative;
	}

	.navbar > * > * {
		height: 100%;
	}

	.navbarTop {
		padding: var(--layoutGap) var(--layoutGap) 0 var(--layoutGap);
	}
	.navbarBottom {
		padding: 0 var(--layoutGap) var(--layoutGap) var(--layoutGap);
	}
	.main {
		padding: 0 var(--layoutGap) 0 var(--layoutGap);
		min-height: 0;
		height: 100%;
	}
	
	.mainMessage {
		padding: 0 var(--layoutGap) 0 var(--layoutGap);
		min-height: 0;
		height: 100%;
		position: absolute;
		background-color: red;
	}



	// Applied to all div with onclick action
	.button {
		cursor: pointer;
		border: 3px transparent solid !important;
	}
	.buttonSelected {
		position: relative;
		z-index: 3;
		border: 3px var(--borderColorSelected) solid !important;
	}
	.navbar .button:hover {
		border: 3px var(--borderColorHover) solid !important;
	}


	.navbar > * {
		min-width: 0;
		min-height: 0;
		// overflow: hidden;
	}

	.navbar {
		
		// Main Navbar text
	  h3 {
	    height: 40%;
	    font-size: var(--fontSizeNavBarMain);
			
			color: var(--mainTextColor);
			font-weight: 500;
			white-space: nowrap;
			padding: 0 0.5vmin 0 0.5vmin;
	  }
		// Navbar top and bottom label
	  h4 {
	    height: 30%;
	    font-size: var(--fontSizeNavBarDetail);
			color: var(--detailTextColor);
			font-weight: 300;
			white-space: nowrap;
	  }
		
		.navitem {
			height: 100%;
			width: 100%;
			@extend .box;
		}
	}




	.box {
		background-color: var(--boxColor);
		border: 1px var(--borderColor) solid;
		overflow: hidden;
		border-radius: var(--borderRadius);
		box-shadow: 0px 4px 8px 0 rgba(199, 199, 199, 0.2);
	}

	.contentBox {
		@extend .box;
		padding-bottom: 5px;
		
		h3 {
			margin: 5px;
			margin-bottom: 15px;
			font-size: var(--fontSizeInfoBoxTitle);
		}
	}




	// Font sizes
	.bold {
		font-weight: bold;
	}






	.dropup-content {
	 position: absolute;
	 bottom: var(--navBarHeight);
	 padding-bottom: var(--navBarDropUpPadding);
	 z-index: 2;
	}

	.dropup-content-big {
		position: absolute;
		width: 400%;
		margin-left: -100%;
	}

	.dropup-content-normal {
		width: 100%;
	}

	.dropup-content .box {
	  text-align: center;
	  background-color: #fff;
	  margin: var(--navBarDropUpBoxPadding) 0 var(--navBarDropUpBoxPadding) 0;
	  padding: var(--navBarDropUpBoxMargin) 0 var(--navBarDropUpBoxMargin) 0;
	  font-size: var(--fontSizeDropUpItem);
		border: 1px var(--borderColor) solid;
		border-radius: var(--borderRadius);
	  color: black;
	  text-decoration: none;
	  display: block;
	}

}


.grayBackground {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0%;
	top: 0%;
	background-color: rgba(160, 160, 160, 0.7);
	z-index: 1;
}


.modalBackground {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0%;
	top: 0%;
	background-color: rgba(160, 160, 160, 0.7);
	z-index: 2;
	
	.modal {
		position: fixed;
		width: 50%;
		height: 70%;
		left: 25%;
		top: 10%;
		
		background-color: var(--boxColor);
		border: 1px var(--borderColor) solid;
		overflow: hidden;
		border-radius: var(--borderRadius);
		box-shadow: 0px 4px 8px 0 rgba(199, 199, 199, 0.2);
		
		h1 {
			padding: var(--modalTitlePadding) 0 var(--modalTitlePadding) 0;
			border-bottom: 1px var(--borderColor) solid;
		}
		
		.exit {
			// right: 0;
			padding-right: var(--modalExitPaddingRight);
			float: right;
		}
		
		.content {
			padding: var(--modalContentPadding);
		}
	}
}
